.heading-h1 {
  background-color: #f3b94e;
  text-align: center;
  color: #f0f8ff;
  font-family: "Courier New", Courier, monospace;
}

.recipes {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.links {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: black;
  font-size: 32px;
}
